asgiref==3.5.2
blinker==1.6.2
click==8.1.7
colorama==0.4.6
confluent-kafka==2.2.0
defusedxml==0.7.1
diff-match-patch==20200713
Django==4.1.3
django-import-export==3.2.0
dnspython==2.4.2
et-xmlfile==1.1.0
Flask==2.3.3
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupPy==1.14
MarkupSafe==2.1.3
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
Pillow==9.3.0
pluggy==1.3.0
pymongo==4.5.0
pytest==7.4.0
PyYAML==6.0
sqlparse==0.4.3
tablib==3.4.0
thespian==3.10.7
tzdata==2022.6
Werkzeug==2.3.7
xlrd==2.0.1
xlwt==1.3.0
